body {
    background: linear-gradient(120deg, #ff9a9e, #fad0c4);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.hidden {
    display: none;
}
